
<!DOCTYPE html>

<html lang="en">
<head>
  <style type="text/css">
    .child {
      /* Center horizontally*/
      position: absolute;
      top: 20%;
      left: 20%;
      margin: -25px 0 0 -25px;
    }
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Cam</title>
</head>
<body>
      <h3 style="text-align: center;">Live Streaming</h3>
      <div class="child">
        <img src="{{url_for( 'video_feed')}}"style="width: 800px; height=1200px;" alt="This is WebCam" />
      </div>
  


  <!-- video capturing    webcam  

  <video id ="vid" autoplay></video>     
  <script>
    navigator.mediaDevices.getUserMedia({
      video : true  
    })
    .then(stream => {
      document.getElementById('vid').srcObject = stream;
    })
  </script>


  done -->

  
</body>
</html>